/*navbar adjustments*/
.mr-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: 0!important;
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: black;
}

.navbar-dark .navbar-nav .nav-link {
     color: white; 
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../images/my_burger_bar.png);
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border: 0;
}

.bg-custom {
    background-color: rgba(0,0,0,0.7);
}

/*landing page*/
.home-container {
    text-align: center;
    width: 100%;
    z-index: 0;
    margin-top:-25px;
}

.home-container h1 {
    font-size: 5em;
    margin: 25px 0 0;
    padding: 0;
    color: whitesmoke;
    background-color: rgba(0,0,0,0.7);
}

.main-welcome {
    color: whitesmoke;
    background-image: url(../images/monkees.jpg);
    background-size: cover;
    height: -webkit-fill-available;
}

.main-welcome a {
    margin: 0 10px;
}

.centralWelcome {
    position: relative;
    top: 20%;
    left: auto;
}

.centralWelcome .btn-info {
    margin-top: 1.5rem;
    background-color: #444;
    border: 1px solid black;
    transition: all 0.5s;
}

.centralWelcome .btn-info:hover {
    background-color: #666;
    border: 1px solid #222;
    color: #222;
}

/*footer*/
footer {
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    color: lightgray;
    padding-bottom: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
footer h5 {
    margin: 1rem 0;
    font-size: .8rem;
}

footer a {
    font-size: 1.1rem;
    margin: 0 .2rem 10px;
}

/*social links in footer*/
.social-link {
    transition: all .5s;
}

.social-link:hover {
    color: black;
}


/*general*/

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
}

.col-sm {
    padding: 0;
}
.col-sm-8 {
    padding: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 100px; 
}

/*uniform classes across all pagess*/

.uniform-container {
    text-align: center;
    width: 100%;
    z-index: 0;
    margin-top:-25px;
    padding: 0;
}

.uniform-container h1 {
    font-size: 2em;
    margin: 25px 0 0;
    padding: 0;
    color: whitesmoke;
    background-color: rgba(0,0,0,0.7);
}

.uniformWelcome {
    position: relative;
    top: 60%;
    left: auto;
}

.section-position {
    padding-top: 100px;
}

.col-sm-4 {
    padding: 0;
}


/*alerts*/
.alert {
    width: 90%;
    margin:0 5%;
}

/*page layout*/

.position-one p {
    padding: 0 1.5rem;
}

.position-two p {
    padding: 1.5rem 1.5rem 0;
}

.uniform-image {
    color: whitesmoke;
    background-image: url(../images/monkees.jpg);
    background-size: cover;
    height: 350px;
}



/*Queries*/

@media(max-width:768px) {
    .centralWelcome .btn {
        margin-top: 1.5rem;
        width: 60%
    }
}

@media(max-width:574px) {
    .section-position {
        padding-top: 10px;
    }    
}